<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- 配置连接Mysql数据库的基本信息 -->
    	<!--  
    	<property name="connection.username">root</property>
    	<property name="connection.password">111111</property>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql://192.168.1.200:3306/hibernate</property>
    	-->
    	<!-- 配置连接Oracle数据库的基本信息 -->
    	<property name="connection.username">scott</property>
    	<property name="connection.password">111111</property>
    	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    	<property name="connection.url">jdbc:oracle:thin:@192.168.1.20:1521:orcl</property>
    	
    	<!-- 配置Hibernate基本信息 -->
    	<!-- 方言 -->
    	<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    	<!-- 执行操作时是否在控制台打印SQL -->
    	<property name="show_sql">true</property>
    	<!-- 是否对SQL进行格式化 -->
    	<property name="format_sql">true</property>
    	<!-- 制定自动生成数据表策略 -->
    	<property name="hbm2ddl.auto">update</property>
    	<!-- 设置数据库的隔离级别 -->
    	<property name="connection.isolation">2</property>
    	
    	<!-- 配置开启使用二级缓存 的产品-->
    	<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
    	
    	<!-- 配置管理session的方式 -->
    	<property name="current_session_context_class">thread</property>
    	
    	<!-- 开启查询缓存 -->
    	<property name="cache.use_query_cache">true</property>
    	
    	<!-- 制定Mapping映射文件 -->
		
		<mapping resource="com/dm/hibernate/entities/HQL/Department.hbm.xml"/>
		<mapping resource="com/dm/hibernate/entities/HQL/Employee.hbm.xml"/>
		<!-- 也可在对应的.hbm文件中配置 -->
		<!--  
		<class-cache usage="read-write" class="com.dm.hibernate.entities.HQL.Employee"/>
		-->
		<class-cache usage="read-write" class="com.dm.hibernate.entities.HQL.Employee"/>
		<class-cache usage="read-write" class="com.dm.hibernate.entities.HQL.Department"/>
		<collection-cache usage="read-write" collection="com.dm.hibernate.entities.HQL.Department.emps"/>
    	<!--  
		<mapping resource="com/dm/hibernate/strategy/Customer.hbm.xml"/>    	
		<mapping resource="com/dm/hibernate/strategy/Order.hbm.xml"/>    	
    	<mapping resource="com/dm/hibernate/entities/n21/both/Customer.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/entities/n21/both/Order.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/one2one/primary/Manager.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/one2one/primary/Department.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/n2n/Category.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/n2n/Item.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/subclass/Person.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/joined/subclass/Person.hbm.xml"/>
    	<mapping resource="com/dm/hibernate/union/subclass/Person.hbm.xml"/>
    	-->
    	
    	
    	
    </session-factory>
</hibernate-configuration>
